[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/abhishek/Desktop/Arrested Development]
row=1
col=0

[/home/abhishek/Desktop/Django Web Development with Python (2016) (Pdf) Gooner]
row=0
col=0

[/home/abhishek/Desktop/The.Incredibles.2004.1080p.BRRip.5.1.HEVC.x265-GIRAYS]
row=2
col=0

